<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GestionnaireStagiaire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GestionnaireStagiaire.Properties.Settings.stagiaireConnectionString"
            connectionString="Data Source=DESKTOP-ABSR6JD\SQLEXPRESS;Initial Catalog=stagiaire;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <GestionnaireStagiaire.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="rem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Usernamedb" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectionstring" serializeAs="String">
                <value>Data Source=DESKTOP-ABSR6JD\SQLEXPRESS;Initial Catalog=stagiaire;Integrated Security=True</value>
            </setting>
            <setting name="appcolor" serializeAs="String">
                <value>40, 86, 182</value>
            </setting>
            <setting name="Dark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="innactivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="innactivitytime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoclose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="styleIndicator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multicolor" serializeAs="String">
                <value>False</value>
            </setting>
        </GestionnaireStagiaire.Properties.Settings>
    </userSettings>
</configuration>
